wrapper()
	margin 0
	padding 0

body, html
	font-family Open Sans, Arial, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Calibri, Helvetica, sans-serif
	wrapper()
	height 100%

#table-root
	position relative
	wrapper()

#table-pad
	wrapper()
	height 50%
	overflow-y scroll

#pads
	height 100vh

table
	table-layout fixed
	border-collapse collapse
	position relative
	white-space nowrap
	wrapper()

tr, td
	box-sizing border-box

td
	text-align center

td, th
	padding-left 0.5em
	padding-right 0.5em

th
	z-index 2
	position relative
	background white

td:not(:last-child), th:not(:last-child)
	border-right 1px solid black
